{% extends "base_authenticated.html" %}
{% load bootstrap4 %}

{% block main %}
<h2>{{ course }}</h2>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %} 
  <button class="btn" type="submit">Submit</button>
  {% endbuttons %}
</form>
{% endblock %}
