{% extends "base_authenticated.html" %}

{% block main %}
<p>Congratulations <b>{{ user }}</b>, you have been enrolled in the <b>{{ enrollment.course }}</b> course!</p>

<p>Right now this message is very brief, but soon it should be able to provide you with useful information that you need to know about your new enrollment, such as price, start date, etc.</p>
{% endblock %}
