{% extends "base_authenticated.html" %}

{% block main %}
<h2>Study Groups</h2>

{% for study_group in study_groups %}
{% if forloop.first %}
<table class="table table-striped table-bordered">
  <tr>
    <th>Course</th>
    <th>Enrolled</th>
    <th>Comment</th>
  </tr>
{% endif %}
  <tr>
    <td>{{ study_group }}</td>
    <td>{{ study_group.enrollment.count }}</td>
    <td>{{ study_group.comment }}</td>
  </tr>
{% if forloop.last or study_groups.count == 1 %}
</table>
{% endif %}
{% empty %}
<p>You don't have any study groups currently</p>
{% endfor %}

<span class="float-right">
  <button class="btn" onclick="location.href = '{% url 'study-group-add' %}'">New Study Group</button>
</span>
{% endblock %}
