{% extends "base_authenticated.html" %}

{% block main %}
<h2>Availability by Time: {{ course }}</h2>

{% for row in data %}
{% if forloop.first %}
<table class="table table-striped table-bordered">
  <tr>
    <th></th>
    {% for col in row %}
      <th>{{ col }}</th>
    {% endfor %}
  </tr>
{% else %}
  <tr>
  {% for col in row %}
  {% if forloop.first %}
  <th>{{ col }}</th>
  {% else %}
  <td>{{ col }}</th>
  {% endif %}
  {% endfor %}
  </tr>
{% endif %}
{% if forloop.last %}
</table>
{% endif %}
{% endfor %}
{% endblock %}
