{% extends "base_authenticated.html" %}

{% block main %}
<h2>Unassigned Students by Course</h2>

{% for course in courses %}
{% if forloop.first %}
  <table class="table table-striped table-bordered">
    <tr>
      <th>Course</th>
      <th>Unassigned Students</th>
    </tr>
{% endif %}
  
    <tr>
      <td><a href="{% url 'availability-by-time' course.course.pk %}">{{ course.course }}</a></td>
      <td>{{ course.count }}</td>
    </tr>
{% if forloop.last %}
</table>
{% endif %}
{% endfor %}
{% endblock %}
