{% extends "base_authenticated.html" %}

{% block main %}
<h2>Courses</h2>

{% for course in courses %}
{% if forloop.first %}
<table class="table table-striped table-bordered">
  <tr>
    <th>Course</th>
    <th>Level</th>
  </tr>
{% endif %}
  <tr>
    <td>{{ course.title }}</td>
    <td>{{ course.level }}</td>
  </tr>
{% if forloop.last or courses.count == 1 %}
</table>
{% endif %}
{% empty %}
<p>You don't have any courses yet.</p>
{% endfor %}
<span class="float-right">
  <button class="btn" onclick="location.href = '{% url 'course-add' %}'">Add Course</button>
</span>
{% endblock %}
