{% extends "base.html" %}

{% block navbar %}
<ul class="navbar-nav ml-auto">
  <li class="navbar-item">
    <a class="nav-link py-0" href="{% url 'login' %}">Login</a>
  </li>
  <li class="navbar-item">
    <a class="nav-link py-0" href="{% url 'register' %}">Register</a>
  </li>
</ul>
{% endblock %}

{% block main %}
<h1>Education in Ghana is About to Change!</h1>
{% endblock %}
