{% extends "base.html" %}
{% load bootstrap4 %}

{% block main %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form method="post" class="col-6">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <span class="float-right">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </span>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
