{% extends "base_authenticated.html" %}

{% block main %}
<h2>Course Catalog</h2>

{% for category in course_categories %}
{% if category.courses.count > 0 %}
<h3 class="bg-light"><strong>{{ category }}</strong></h3>
{% for course in category.courses.all %}
<h4>{{ course }}</h4>
<p>{{ course.short_description }} <button class="btn btn-primary" onclick="location.href = '{% url 'course-detail' course.pk %}'">View more</button></p>
{% endfor %}
{% endif %}
{% endfor %}
{% endblock %}
