{% extends "base_authenticated.html" %}
{% load bootstrap4 %}

{% block main %}
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">Done</button>
  {% endbuttons %}
</form>
{% endblock %}
