{% extends "base_authenticated.html" %}

{% block main %}
<h2>{{ course }}</h2>

<p>{{ course.short_description }}</p>
<p>{{ course.description }}</p>
<p><b>Price:</b> GHS{{ course.price }}</p>
<span class="float-right">
  <button class="btn" onclick="location.href = '{% url 'enrollment-create' course.pk %}'">Apply</button>
</span>
{% endblock %}
