{% extends "base_authenticated.html" %}

{% block main %}
<h2>Course Categories</h2>

<ol>
{% for category in categories %}
<li>{{ category }}</li>
{% endfor %}
</ol>

<span class="float-right">
  <button class="btn" onclick="location.href = '{% url 'course-category-add' %}'">Add Category</button>
</span>
{% endblock %}

