<!doctype html>
{% load bootstrap4 %}
{% load static %}

<html class="h-100">
  <head>
    <title></title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% block js %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/seedofknowledge.css' %}">
  </head>

  <body class="h-100">
    <nav class="navbar navbar-expand-sm navbar-dark py-1" style="background-color: #006000;">
      <a class="navbar-brand" href="#">Seed of Knowledge</a>
      <div class="navbar-collapse navbar" id="collapsingNavbar">
        {% block navbar %}
        {% endblock %}
      </div>
    </nav>

    <header>
      {% block header %}
      {% endblock %}
    </header>

    {% block main %}
    {% endblock %}

    <footer class="footer">
      {% block footer %}
      <div class="text-muted text-center py-3">
        <small>Copyright &copy; 2018, Seed Of Knowledge</small>
      </div>
      {% endblock %}
    </footer>
  </body>
</html>

{# vim: set ft=htmldjango : #}
