{% extends "base.html" %}
{% load static %}
{% load notifications_tags %}

{% block js %}
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
{% endblock %}

{% block navbar %}
<ul class="navbar-nav mx-auto">
  <li class="nav-item">
    <a class="nav-link py-0" href="{% url 'dashboard' %}">Home</a>
  </li>

  {% if user.is_superuser %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle py-0" href="#" id="setupDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Setup
    </a>
    <div class="dropdown-menu" aria-labelledby="setupDropdown">
      <a class="dropdown-item" href="{% url 'user-list' %}">Users</a>
      <a class="dropdown-item" href="{% url 'school-list' %}">Schools</a>
      <a class="dropdown-item" href="{% url 'teacher-list' %}">Teachers</a>
    </div>
  </li>
  {% endif %}

  {% if user.profile.course_manager %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle py-0" href="#" id="courseManagementDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Course Management
    </a>
    <div class="dropdown-menu" aria-labelledby="coureManagementDropdown">
      <a class="dropdown-item" href="{% url 'course-category-list' %}">Categories</a>
      <a class="dropdown-item" href="{% url 'coursemanager:course-list' %}">Courses</a>
    </div>
  </li>
  {% endif %}

  {% if user.profile.registrar %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle py-0" href="#" id="registrarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Registrar
    </a>
    <div class="dropdown-menu" aria-labelledby="registrarDropdown">
      <a class="dropdown-item" href="{% url 'study-group-list' %}">Study Groups</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'unassigned-students-by-course' %}">Unassigned Students by Course</a>
    </div>
  </li>
  {% endif %}

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle py-0" href="#" id="studentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Student
    </a>
    <div class="dropdown-menu" aria-labelledby="studentDropdown">
      <a class="dropdown-item" href="{% url 'course-catalog' %}">Course Catalog</a>
    </div>
  </li>
</ul>

<ul class="navbar-nav ml-auto">
  <li class="navbar-item">
    <a class="nav-link py-0" href="{% url 'notifications:unread' %}">
      {% live_notify_badge badge_class="badge" %}
    </a>
  </li>

  <li class="navbar-item">
    <a class="nav-link py-0" href="{% url 'logout' %}">Logout</a>
  </li>
</ul>
{% endblock %}
