{% extends "base_authenticated.html" %}

{% block main %}
<h2>School</h2>

<table class="table table-bordered" style="width: %100">
  <tr>
    <th class="w-25">Name</th>
    <td>{{ school.name }}</td>
  </tr>
  <tr>
    <th class="w-25">Location</th>
    <td>{{ school.location }}</tH>
  </tr>
  <tr>
    <th class="w-25">City</th>
    <td>{{ school.city }}</th>
  </tr>
</table>

<h3>{{ school.name }} Classrooms</h3>

<table class="table table-striped table-bordered" style="width: 100%">
  <thead>
    <tr>
      <th>Label</th>
      <th>Capacity</th>
    </tr>
  </thead>
  <tbody>
    {% for classroom in school.classrooms.all %}
    <tr>
      <td>{{ classroom.label }}</td>
      <td>{{ classroom.capacity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<span class="float-right">
  <button class="btn" onclick="location.href = '{% url 'classroom-create' school.pk %}'">Add classroom</button
</span>
{% endblock %}
