{% extends "base_authenticated.html" %}

{% block main %}
<h2>Schools</h2>

{% for school in schools %}
{% if forloop.first %}
<table class="table table-striped table-bordered" style="width: 100%">
  <thead>
    <tr>
      <th>School</th>
      <th>City</th>
    </tr>
  </thead>
  <tfoot>
{% endif %}
  <tr>
    <td>{{ school.name }}</td>
    <td>{{ school.city }}</td>
  </tr>
{% if forloop.last %}
  </tfoot>
</table>
{% endif %}
{% empty %}
<p>You haven't yet set up a school. Please do so <a href="{% url 'school-create' %}">now</a>.</p>
{% endfor %}
{% endblock %}
