{% extends "base_authenticated.html" %}

{% block main %}
<h2>Teachers</h2>

{% for teacher in teachers %}
{% if forloop.first %}
<table class="table table-striped table-bordered" style="width: 100%">
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Course</th>
    </tr>
  </thead>
  <tbody>
{% endif %}
    <tr>
      <td>{{ teacher.user }}</td>
      <td>{{ teacher.course }}</td>
    </tr>
{% if forloop.last or teachers.count == 1 %}
  </tbody>
</table>
{% endif %}
{% empty %}
<p>There are no teachers yet.</p>
{% endfor %}

<span class="float-right">
  <button class="btn" onclick="location.href = '{% url 'teacher-create' %}'">Add Teacher</button>
{% endblock %}
