{% extends "base_authenticated.html" %}

{% block main %}
<h2>Users</h2>

<table class="table table-striped table-bordered" style="width: 100%">
  <thead>
    <tr>
      <th>Username</th>
      <th>Course Manager</th>
      <th>Registrar</th>
    </tr>
  </thead>
  <tfoot>
    {% for member in members %}
    <tr>
      <td>
        <a href="{% url 'user-detail' member.id %}">{{ member.username }}</a>
      </td>
      <td>
        {% if member.profile.course_manager %}
        Yes
        {% endif %}
      </td>
      <td>
        {% if member.profile.registrar %}
        Yes
        {% endif %}
    </tr>
    {% endfor %}
  </tfoot>
</table>
{% endblock %}
