{% extends "base_authenticated.html" %}

{% block js %}
<script type="application/javascript">
  function make_course_manager() {
    location.href = "{% url 'make-course-manager' member.id %}";
  }

  function revoke_course_manager() {
    location.href = "{% url 'revoke-course-manager' member.id %}";
  }
</script>
{% endblock %}

{% block main %}
<h2>User Details</h2>

<table class="table table-bordered" style="100%">
  <tr>
    <th class="w-25">Username</th>
    <td>{{ member.username }}</td>
  </tr>

  <tr>
    <th class="w-25">Course Manager</th>
    <td>{{ member.profile.course_manager }}</td>
  </tr>

  <tr>
    <th class="w-25">Registrar</th>
    <td>{{ member.profile.registrar }}</td>
  </tr>
</table>

<span class="float-right">
  {% if not member.profile.course_manager %}
  <button class="btn" onclick="make_course_manager()">Make Course Manager</button>
  {% else %}
  <button class="btn" onclick="revoke_course_manager()">Revoke Course Manager</button>
  {% endif %}

  {% if not member.profile.registrar %}
  <button class="btn" onclick="location.href ='{% url 'make-registrar' member.id %}'">Make Registrar</button>
  {% else %}
  <button class="btn" onclick="location.href = '{% url 'revoke-registrar' member.id %}'">Revoke Registrar</button>
  {% endif %}
</span>
{% endblock %}
